*~
*.lock
*.DS_Store
*.swp
*.out
tmp

commons
lmg
auth
monitoring
registry
users
restapi

*.log
*.iml
*.ipr
*.iws
t.log
.idea
target
graphStore
atlassian-ide-plugin.xml
JointStatement.csv
dependency-reduced-pom.xml

tags
